.footer {
    background-color: var(--white);
    padding: var(--space-60) 0 var(--space-48);
}

.container {
    padding: 10px var(--container-padding);
    display: flex;
    gap: 140px;
    align-items: flex-start;
}

.icon {
    fill: var(--primary-color);
}

.links {
    display: flex;
    gap: 80px;
    flex: 1;
}

.column {
    width: 25%;
}

.columnTitle{
    color: var(--gray-800);
    margin: 0 0 20px;
}

.linkList {
    list-style: none;
    padding: 0;
    margin: 0;
   

    li {
        margin-bottom: var(--space-12);
         cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.link {
    text-decoration: none;
    transition: opacity 0.2s linear;

    &:hover {
        opacity: 0.8;
    }
}

.copyright {
    text-align: center;
    color: var(--gray-600);
    font: var(--font-s);
    margin-top: 32px;

}
